<app-nav></app-nav>
<div class="product-container">
  <div class="image-carousel">
    <img src="imagen1.jpg" alt="Imagen 1">
    <img src="imagen2.jpg" alt="Imagen 2">
    <img src="imagen3.jpg" alt="Imagen 3">
  </div>
  <div class="product-details">
    <div class="detail">
      <h2>Descripción</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
    </div>
    <div class="detail">
      <h2>Precio</h2>
      <p>$99.99</p>
    </div>
    <div class="detail">
      <h2>Nombre</h2>
      <p>Producto ABC</p>
    </div>
    <div class="quantity-control">
      <button class="quantity-button">-</button>
      <input type="number" value="1">
      <button class="quantity-button">+</button>
      <button class="add-to-cart-button">Agregar al carrito</button>
    </div>
  </div>
</div>

<div class="product-details-container">
  <table>
<tbody>
  <tr>
    <td>Tipo:</td>
    <td>Cubrecamas</td>
  </tr>
  <tr>
    <td>Hecho en:</td>
    <td>China</td>
  </tr>
  <tr>
    <td>Dimensiones:</td>
    <td>
      1.5P=180x240cm<br>
      2P=230x240cm<br>
      K=270x240cm
    </td>
  </tr>
  <tr>
    <td>Dimensiones de la funda de cojín:</td>
    <td>
      1.5P=50x70cm<br>
      2P=50x90cm<br>
      K=50x90cm
    </td>
  </tr>
  <tr>
    <td>Estilo:</td>
    <td>Liso</td>
  </tr>
  <tr>
    <td>Número de hilos:</td>
    <td>No aplica</td>
  </tr>
  <tr>
    <td>Material de relleno:</td>
    <td>No aplica</td>
  </tr>
  <tr>
    <td>Composición exterior:</td>
    <td>Poliéster</td>
  </tr>
  <tr>
    <td>Incluye funda de cojín:</td>
    <td>Sí</td>
  </tr>
  <tr>
    <td>Temperatura:</td>
    <td>Fresco</td>
  </tr>
  <tr>
    <td>Gramaje:</td>
    <td>75GSM</td>
  </tr>
  <tr>
    <td>Fill power:</td>
    <td>No aplica</td>
  </tr>
</tbody>
  </table>

</div>

<div class="comments-container">
  <h2>Comentarios</h2>
  <textarea placeholder="Añadir comentario"></textarea>
  <button class="comment-button">Agregar comentario</button>
  <div class="ratings">
    <h2>Valoraciones</h2>
    <!-- Aquí puedes agregar algún sistema de valoración -->
  </div>
</div>

<div class="related-products-carousel">
  <h2>Productos relacionados</h2>
  <!-- Aquí puedes agregar el carrusel de productos relacionados -->
</div>
<app-footer></app-footer>
