
<div *ngFor="let category of categories">
  <h1 class="titulo">{{category.name}}</h1>
  <hr>
  <div class="containerHijo">
    <div class="card" *ngFor="let item of products[category.id]">
      <img [src]="item.images" alt="Imagen del producto">
      <div class="card-info">
        <h2>{{item.title}}</h2>
        <p>Descripción breve del producto</p>
        <p class="price">${{item.price}}</p>
        <div class="buttons">
          <button class="btn btn-view"  routerLink="/detalle">Ver más</button>
          <button class="btn btn-add">Agregar al carrito</button>
        </div>
      </div>
    </div>
  </div>
</div>

